extends layout
var router = require('router')

block content
  h1= title
  p Welcome to #{title}!
  p Here are some messages for your enjoyment, friend:

  
    each val in messages
      h2 Author
      h2= val.user
      p= val.text
      p= val.added
      
  
